In [1]:
import pandas as pd

In [3]:
df_usa_house = pd.read_csv("./data/USA_Housing.csv")

In [10]:
df_usa_house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
Avg. Area Income                5000 non-null float64
Avg. Area House Age             5000 non-null float64
Avg. Area Number of Rooms       5000 non-null float64
Avg. Area Number of Bedrooms    5000 non-null float64
Area Population                 5000 non-null float64
Price                           5000 non-null float64
Address                         5000 non-null object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

In [5]:
df_usa_house.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [8]:
df_usa_house.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Address'],
      dtype='object')

In [9]:
df_usa_house.describe()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5.000000e+03
mean,68583.108984,5.977222,6.987792,3.981330,36163.516039,1.232073e+06
std,10657.991214,0.991456,1.005833,1.234137,9925.650114,3.531176e+05
min,17796.631190,2.644304,3.236194,2.000000,172.610686,1.593866e+04
25%,61480.562388,5.322283,6.299250,3.140000,29403.928702,9.975771e+05
50%,68804.286404,5.970429,7.002902,4.050000,36199.406689,1.232669e+06
75%,75783.338666,6.650808,7.665871,4.490000,42861.290769,1.471210e+06
max,107701.748378,9.519088,10.759588,6.500000,69621.713378,2.469066e+06

In [22]:
is_true = pd.isnull(df_usa_house['Avg. Area Number of Rooms'])
df_usa_house[is_true].count()

Avg. Area Income                0
Avg. Area House Age             0
Avg. Area Number of Rooms       0
Avg. Area Number of Bedrooms    0
Area Population                 0
Price                           0
Address                         0
dtype: int64

In [25]:
cols = df_usa_house.columns
cols = ["Avg. Area Number of Rooms", "Price"]

df_test = df_usa_house[cols]

In [26]:
df_test.head()

   Avg. Area Number of Rooms         Price
0                   7.009188  1.059034e+06
1                   6.730821  1.505891e+06
2                   8.512727  1.058988e+06
3                   5.586729  1.260617e+06
4                   7.839388  6.309435e+05

### Missing values

In [27]:
df_test['Avg. Area Number of Rooms']

0       7.009188
1       6.730821
2       8.512727
3       5.586729
4       7.839388
          ...
4995    6.137356
4996    6.576763
4997    4.805081
4998    7.130144
4999    6.792336
Name: Avg. Area Number of Rooms, Length: 5000, dtype: float64

### Model development
- Separate dependent variable from independent variables.

In [37]:
independent_cols = ['Avg. Area Number of Rooms'] # list(set(cols) - set("Price"))
dependent_cols = ["Price"]

In [38]:
print(dependent_cols)
print(independent_cols)

['Price']
['Avg. Area Number of Rooms']

In [39]:
X =  df_usa_house[independent_cols]
y = df_usa_house[dependent_cols]

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)

In [51]:
X_train.shape

(4250, 1)

In [52]:
y_train.shape

(4250, 1)

In [53]:
LRModel = LinearRegression()
LRModel.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [54]:
LRModel.score(X_test, y_test)

0.13539358826427583